# Virtual Environments
venv/
env/
__pycache__/
*.pyc

# Data & Output
datasets/
[PUB]*
*.csv
*.xlsx
*.pkl
*.npy
*.jsonl

# Precomputed Cache
intelligence/feature_store/precomputed/

# IDE
.idea/
.vscode/
.DS_Store
